In [64]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [163]:
# Import cities file into the cities_pd DataFrame
cities_df = pd.read_csv("Resources/Cities.csv")
cities_data_df = pd.DataFrame(cities_df)
cities_data_df

              City         State
0    New York City      New York
1      Los Angeles    California
2          Chicago      Illinois
3          Houston         Texas
4     Philadelphia  Pennsylvania
..             ...           ...
95         Fremont    California
96     Baton Rouge     Louisiana
97        Richmond      Virginia
98           Boise         Idaho
99  San Bernardino    California

[100 rows x 2 columns]

In [164]:
# Add columns for lat, lng, airport name, airport address, airport rating.
cities_data_df["Lat"]= ""
cities_data_df["Lng"] = ""
cities_data_df["Airport Name"] = ""
cities_data_df["Airport Address"] = ""
cities_data_df["Airport Rating"] = ""
# Hint: Be sure to specify "" as the initial value for each column.
cities_data_df

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,
...,...,...,...,...,...,...,...
95,Fremont,California,,,,,
96,Baton Rouge,Louisiana,,,,,
97,Richmond,Virginia,,,,,
98,Boise,Idaho,,,,,
99,San Bernardino,California,,,,,

In [ ]:
lat_url = "https://maps.googleapis.com/maps/api/geocode/json"

In [165]:
# Loop through the cities_pd and get the lat/long for each city
cities = cities_data_df["City"]
states = cities_data_df["State"]

params = {
    "adddress": cities,
    "type": "airport",
    "key": gkey}
for index, row in cities_data_df.iterrows():
    #get city
    city = row["City"]
    state = row["State"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["State"] = f"{state}"
    params["City"] = f"{city}"
    
    lat_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    location_info = requests.get(lat_url,params=params).json()
    #airport_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=formatted_address%2Cname%2Crating%2Copening_hours%2Cgeometry&input=Airport%20"+ row["City"]+row["State"]+ "&inputtype=textquery&key=" + gkey
    #airport_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #airport_info = requests.get(airport_url,params=params).json()
    
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

In [167]:
for index, row in cities_data_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    city = row["City"]
    state = row["State"]
    
    params["address"] = f"{city},{state}"
    
    cities_lat_lng = requests.get(base_url,params=params)
    
    cities_lat_lng = cities_lat_lng.json()
    
    cities_data_df.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    cities_data_df.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]
        #types_df.loc[index, "price_level"] = results[0]["price_level"]
        #types_df.loc[index, "rating"] = results[0]["rating"]

In [168]:
cities_data_df

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York City,New York,40.712775,-74.005973,,,
1,Los Angeles,California,34.052234,-118.243685,,,
2,Chicago,Illinois,41.878114,-87.629798,,,
3,Houston,Texas,29.760427,-95.369803,,,
4,Philadelphia,Pennsylvania,39.952584,-75.165222,,,
...,...,...,...,...,...,...,...
95,Fremont,California,37.54854,-121.988583,,,
96,Baton Rouge,Louisiana,30.451468,-91.187147,,,
97,Richmond,Virginia,37.540725,-77.436048,,,
98,Boise,Idaho,43.615019,-116.202314,,,
99,San Bernardino,California,34.108345,-117.289765,,,

In [171]:
params = {
    "radius": 10000,
    "types": "airport",
    "keyword": "international airport",
    "key": gkey}
for index, row in cities_data_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    name_address = requests.get(base_url,params=params)
    
    name_address = name_address.json()
    try:
        cities_data_df.loc[index, "Airport Name"] = name_address["results"][0]["name"]
        cities_data_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        cities_data_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except(KeyError, IndexError):
        print(f"You broked")
        
        #types_df.loc[index, "price_level"] = results[0]["price_level"]
        #types_df.loc[index, "rating"] = results[0]["rating"]

You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked
You broked

In [175]:
cities_data_df.tail(50)

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
50,Cleveland,Ohio,41.49932,-81.694361,Cleveland Burke Lakefront Airport,Cleveland,4.5
51,Bakersfield,California,35.373292,-119.018713,Bakersfield Municipal Airport,"2000 S Union Ave, Bakersfield",4.6
52,Tampa,Florida,27.950575,-82.457178,Peter O. Knight Airport,"825 Severn Ave, Tampa",4.7
53,Aurora,Colorado,39.729432,-104.831919,,,
54,Honolulu,Hawai'i,21.309884,-157.85814,,,
55,Anaheim,California,33.836593,-117.914301,,,
56,Santa Ana,California,33.745472,-117.867653,,,
57,Corpus Christi,Texas,27.800583,-97.396381,Corpus Christi Heliport,Corpus Christi,0
58,Riverside,California,33.980601,-117.375494,Flabob Airport,"4130 Mennes Ave, Riverside",4.6
59,St. Louis,Missouri,38.627003,-90.199404,,,
60,Lexington,Kentucky,38.040584,-84.503716,,,
61,Stockton,California,37.957702,-121.29078,,,
62,Pittsburgh,Pennsylvania,40.440625,-79.995886,US Steel Rooftop Heliport,Pittsburgh,5
63,Saint Paul,Minnesota,44.953703,-93.089958,St. Paul Downtown Airport,"644 Bayfield St, St Paul",4.7
64,Anchorage,Alaska,61.217576,-149.899678,Ted Stevens Anchorage International Airport,"5000 W International Airport Rd, Anchorage",4.5
65,Cincinnati,Ohio,39.103118,-84.51202,,,
66,Henderson,Nevada,36.039525,-114.981721,,,
67,Greensboro,North Carolina,36.072635,-79.791975,,,
68,Plano,Texas,33.019843,-96.698886,,,
69,Newark,New Jersey,40.735657,-74.172367,Newark Liberty International Airport,"3 Brewster Rd, Newark",3.7
70,Toledo,Ohio,41.652805,-83.537867,Seagate Helistop Heliport,Toledo,0
71,Lincoln,Nebraska,40.813616,-96.702596,Lincoln Airport,"2400 W Adams St, Lincoln",4
72,Orlando,Florida,28.538383,-81.378927,Orlando Executive Airport,"365 Rickenbacker Dr, Orlando",4.4
73,Chula Vista,California,32.640054,-117.084196,,,
74,Jersey City,New Jersey,40.717754,-74.043143,,,
75,Chandler,Arizona,33.30616,-111.84125,Chandler Municipal Airport,"2380 S Stinson Way, Chandler",4.5
76,Fort Wayne,Indiana,41.079273,-85.139351,Fort Wayne-District Operations Heliport,Fort Wayne,0
77,Buffalo,New York,42.886447,-78.878369,,,
78,Durham,North Carolina,35.994033,-78.898619,,,
79,St. Petersburg,Florida,27.767601,-82.640291,Van Fleet International Airport Development,"111 2nd Ave NE, St. Petersburg",5
80,Irvine,California,33.684567,-117.826505,John Wayne Airport,"18601 Airport Way, Santa Ana",4.6
81,Laredo,Texas,27.503561,-99.507552,Laredo International Airport,"5210 Bob Bullock Loop, Laredo",4.3
82,Lubbock,Texas,33.577863,-101.855166,,,
83,Madison,Wisconsin,43.072166,-89.40075,Meriter/Park Heliport,Madison,5
84,Gilbert,Arizona,33.352826,-111.789027,,,
85,Norfolk,Virginia,36.850769,-76.285873,,,
86,Reno,Nevada,39.529919,-119.814269,Reno-Tahoe International Airport,"2001 E Plumb Ln, Reno",4.4
87,Winston-Salem,North Carolina,36.09986,-80.244216,Smith Reynolds Airport,"3801 N Liberty St #204, Winston-Salem",4.6
88,Glendale,Arizona,33.538652,-112.185987,,,
89,Hialeah,Florida,25.857596,-80.278106,Fontainebleau Aviation,"14200 NW 42nd Ave, Opa-locka",4.7
90,Garland,Texas,32.912624,-96.638883,,,
91,Scottsdale,Arizona,33.49417,-111.926052,,,
92,Irving,Texas,32.814018,-96.948894,,,
93,Chesapeake,Virginia,36.768209,-76.287493,,,
94,North Las Vegas,Nevada,36.198859,-115.117501,Big Land Desert City,"160 Las Vegas Blvd N, Las Vegas",3
95,Fremont,California,37.54854,-121.988583,,,
96,Baton Rouge,Louisiana,30.451468,-91.187147,,,
97,Richmond,Virginia,37.540725,-77.436048,,,
98,Boise,Idaho,43.615019,-116.202314,May Airport-0U8,"Pahsimeroi Rd, Boise",0
99,San Bernardino,California,34.108345,-117.289765,SBD International Airport,"105 N Leland Norton Way, San Bernardino",4.5

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [101]:

# Save Data to csv


# Visualize to confirm airport data appears

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,
...,...,...,...,...,...,...,...
95,Fremont,California,,,,,
96,Baton Rouge,Louisiana,,,,,
97,Richmond,Virginia,,,,,
98,Boise,Idaho,,,,,
99,San Bernardino,California,,,,,