In [18]:
import pandas as pd
import gmaps
from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
cities_df = pd.read_csv("Resources/city.csv")

In [3]:
cities_df.head()

       City      Lat      Lng
0    Boston  42.3601 -71.0589
1  New York  40.7128 -74.0060
2   Chicago  41.8781 -87.6298

In [5]:
city_start = cities_df.loc[cities_df["City"]== "New York"]
city_end = cities_df.loc[cities_df["City"]=="Chicago"]

In [6]:
city_start

       City      Lat     Lng
1  New York  40.7128 -74.006

In [9]:
city_end

      City      Lat      Lng
2  Chicago  41.8781 -87.6298

In [10]:
start= city_start["Lat"][1], city_start["Lng"][1]
end = city_end["Lat"][2], city_end["Lng"][2]

In [12]:
start

(40.7128, -74.006)

In [13]:
end

(41.8781, -87.6298)

In [20]:
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(start,end,waypoints=[start,end])
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))